# **Loading Data**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('processed.cleveland.csv', header=0)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,cal,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [5]:
#Cleaning data from NaN
df = df.dropna()

In [6]:
#Examining the data size
print(df.shape)

(303, 14)

# **Displaying All Fields**

In [7]:
print(list(df.columns))

['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'cal', 'thal', 'num']

# **Eliminating Unwanted Fields**

In [8]:
#drop columns which are not needed.
df.drop(df.columns[[0, 3, 4, 7, 9, 12]], axis=1, inplace=True)

In [9]:
df.head

<bound method NDFrame.head of      sex  cp  fbs  restecg  exang  slope cal  num
0      1   1    1        2      0      3   0    0
1      1   4    0        2      1      2   3    2
2      1   4    0        2      1      2   2    1
3      1   3    0        0      0      3   0    0
4      0   2    0        2      0      1   0    0
..   ...  ..  ...      ...    ...    ...  ..  ...
298    1   1    0        0      0      2   0    1
299    1   4    1        0      0      2   2    2
300    1   4    0        0      1      2   1    3
301    0   2    0        2      0      2   1    1
302    1   3    0        0      0      1   ?    0

[303 rows x 8 columns]>

# **Encoding Data**